.dict-page {
    h2.letter {
        text-transform: capitalize;
    }

    .ipa {
        font-size: small;
        color: var(--vp-c-text-2);
        font-weight: 300;
    }

    .tag {
        color: var(--vp-c-bg);
        background-color: var(--vp-c-text-2);
        font-weight: bolder;
        font-size: 11px;
        border-radius: 4px;
        font-style: normal;
        padding: 2px 4px;
    }

    div.word {
        break-inside: avoid;
        transition: 150ms;
        border-radius: 8px;
        margin-top: .5em;
        padding: 8px 20px;

        >p:nth-child(2) {
            font-size: small;
            font-style: italic;
            color: var(--vp-c-text-2);
        }

        h5 {
            display: flex;
            justify-content: space-between;
        }

        li {
            margin: 0 !important;
            font-size: 14px;
        }

        &:hover {
            background-color: var(--vp-code-block-bg);
        }

        >* {
            margin: 0 !important;
        }
    }
}
