@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.lang {
    font-family: "Ysabeau", serif;
    font-weight: 600;
    font-size: larger;
}

.gloss {
    font-size: small;
    color: var(--vp-c-text-2);
}

.hl {
    position: relative;
    text-decoration: solid underline .15em var(--highlight);
    text-decoration-skip-ink: none;
    text-underline-offset: .05em;
}

div.table-transparent table {
    @apply tw-overflow-visible;

    &,
    tbody {
        border-style: hidden;
    }

    td {
        font-size: inherit;
        text-align: start !important;
        padding: 0;
        border-width: 0 1em;
        border-color: transparent;
    }

    tr {
        border: none !important;
        background-color: transparent !important;
    }

}

div.table-wide table {
    border-radius: 8px;
    border-collapse: collapse;
    border-style: hidden;
    overflow-x: auto;
    background-color: var(--vp-custom-block-details-bg);

    tbody {
        border-style: hidden;
        display: table;
        width: 100%;
    }

    td,
    tr {
        border: 1px solid var(--vp-c-divider);
        background-color: transparent !important;
    }
}

div.table-compact td {
    padding: 4px 8px;
    white-space: nowrap;
}
