@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

.lang {
    font-family: 'Roboto Slab', serif;
}

.gloss {
    font-size: small;
    color: var(--vp-c-text-2);
}

.hl {
    box-shadow: inset 0 -.5em var(--highlight);
    color: inherit;
    background: inherit;
}

table.gl td {
    font-size: inherit;
}

table.gl tr {
    border: none !important;
    background-color: transparent !important;
}

table.gl td {
    padding-right: 0.4em !important;
    text-align: start !important;
    padding: 0;
    border: none !important;
}

table.bl {
    border-radius: 8px;
    border-collapse: collapse;
    border-style: hidden;
    overflow-x: auto;
    background-color: var(--vp-custom-block-details-bg);
}

table.bl tbody {
    border-style: hidden;
    display: table;
    width: 100%;
}

table.bl td,
table.bl tr {
    border: 1px solid var(--vp-c-divider);
    background-color: transparent !important;
}
