.b {
    font-weight: 500;
}

.s {
    opacity: 0.75;
    font-size: small;
}

.c-t>*>* {
    text-align: center !important;
}

.hid {
    display: none !important;
}

.col {
    display: flex;
    flex-direction: column;
}

.t-e {
    text-align: end;
}

table.gl td {
    font-size: medium;
}

table.gl thead {
    display: none;
}

table.gl tr {
    border: transparent !important;
    background-color: transparent !important;
}

table.gl td {
    padding-right: 0.4em !important;
    text-align: start !important;
    padding: 0;
    border: none !important;
}
