@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.lang {
    font-family: 'Merriweather', serif;
}

.gloss {
    font-size: small;
    color: var(--vp-c-text-2);
}


.hid {
    display: none !important;
}

.col {
    display: flex;
    flex-direction: column;
}

.t-e {
    text-align: end;
}

table.gl td {
    font-size: medium;
}

table.gl tr {
    border: transparent !important;
    background-color: transparent !important;
}

table.gl td {
    padding-right: 0.4em !important;
    text-align: start !important;
    padding: 0;
    border: none !important;
}

table.bl {
    border-radius: 8px;
    border-collapse: collapse;
    border-style: hidden;
    display: table !important;
    width: 100%;
    background-color: var(--vp-custom-block-details-bg);
}

table.bl td,
table.bl tr {
    border: 1px dashed var(--vp-c-divider);
    background-color: transparent !important;
}
