table.phrase {
    table-layout: fixed;
    width: 100%;
    display: table !important;

    & td {
        padding: 4px 8px;

        &:first-child {
            width: 40px;

            &>* {
                display: flex;
                flex: 1;
            }
        }
    }

    & tr {
        background-color: transparent !important;

        &:hover td:nth-child(2) {
            border-radius: 8px;
            background-color: var(--vp-c-default-soft);
        }
    }

    & tr,
    & td {
        transition: 150ms;
        border: none !important;
    }
}
