/**
 * Colors
 * -------------------------------------------------------------------------- */

/* :root {
    --vp-c-accent: #2c7f95;
    --vp-c-brand: #2c7f95;
    --vp-c-brand-light: #2e859c;
    --vp-c-brand-lighter: #3392ac;
    --vp-c-brand-dark: #00586e;
    --vp-c-brand-darker: #00586e;
}

.dark {
    --vp-c-accent: #4aa6c0;
    --vp-c-brand: #4aa6c0;
    --vp-c-brand-light: #52b1cc;
    --vp-c-brand-lighter: #52b1cc;
    --vp-c-brand-dark: #52b1cc;
    --vp-c-brand-darker: #52b1cc;
} */

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(347deg, #358399 30%, #3bb89c);
    --vp-home-hero-image-background-image: linear-gradient(45deg, #00586e60 30%, #e5e05660);
    --vp-home-hero-image-filter: blur(56px);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

/* .DocSearch {
    --docsearch-primary-color: var(--vp-c-brand) !important;
} */
